body {
    /*background-image: linear-gradient(to bottom, #212121 0%, #333333 300px);
    background-repeat: no-repeat;*/
    background-color: #222222;
    color: #171516;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header, footer, content {
    width: 640px;
    margin: 0 auto;
}

content {
    display: block;
    height: 480px;
    margin-top: 20px;
}

header {
    margin-top: 10px;
}

    header a {
        color: lightgray;
    }

    header p {
        color: gray;
        margin: 0;
        float: left;
        font-size: 12px;
    }

#ludum-dare {
    margin-right: 8px;
    float: right;
    background-image: url(Content/LudumDare.png);
}

#github {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    float: right;
    background-image: url(Content/GitHub-Mark-Light-32px.png);
    opacity: 0.15;
}

    #github:hover {
        opacity: 1;
    }

header:after {
    content: '';
    display: block;
    clear: both;
}

.node {
    stroke: gray;
    stroke-width: 2px;
}

.link {
    stroke: gray;
    stroke-width: 2px;
}

.planetTooltip {
    position: absolute;
    width: 200px;
    background: #111111;
    box-sizing: border-box;
    padding: 4px 8px;
    color: lightgray;
    border: 1px solid gray;
    font-size: 12px;
}

    .planetTooltip h2 {
        margin: 0 4px 0 0;
        font-size: 16px;
    }

    .planetTooltip h3 {
        font-weight: 500;
        display: inline-block;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }

        .planetTooltip h3:after {
            content: '\00a0';
        }

    .planetTooltip ul {
        display: inline;
        margin: 0;
        padding: 0;
    }

    .planetTooltip li {
        display: inline;
    }

        .planetTooltip li:after {
            content: '\00a0';
        }

    .planetTooltip .cheap {
        color: lawngreen;
    }

    .planetTooltip .expensive {
        color: salmon;
    }


.planetDashboard {
    background-color: darkgray;
    box-sizing: border-box;
    padding: 4px 8px;
    font-size: 14px;
}

    .planetDashboard h2 {
        margin: 0 4px 0 0;
        font-size: 16px;
    }

    .planetDashboard h3 {
        font-size: 14px;
        margin: 8px 0 0 0;
    }

.marketCards {
    border-top: 1px solid black;
    color: black;
    box-sizing: border-box;
    padding: 8px 0;
}

.playerCards {
    border-top: 1px solid black;
    color: black;
    box-sizing: border-box;
    padding: 8px 0;
}

.card {
    margin: 4px;
    box-sizing: border-box;
    padding: 4px 8px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px;
    background-color: white;
    display: inline-block;
    width: 64px;
    height: 96px;
    background-position: center center;
    background-repeat: no-repeat;
}

.cardPlaceholder {
    margin: 4px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px dashed darkred;
    box-shadow: rgba(0, 0, 0, 0) 2px 2px;
    width: 64px;
    height: 96px;
}

.card .sellPrice {
    color: green;
    font-weight: bold;
}

.fuel {
    background-image: url('Content/fuel.png');
}

.food {
    background-image: url('Content/food.png');
}

.luxury {
    background-image: url('Content/luxury.png');
}

.medicine {
    background-image: url('Content/medical.png');
}

.disabled {
    opacity: 0.5;
}

dl {
    color: white;
    border-bottom: 1px solid white;
    text-align: right;
    font-size: 12px;
}


dt, dd {
    display: inline-block;
}

dt {
    margin-left: 8px;
    font-weight: bold;
    width: auto;
}

dd .shipType {
    width: 100px;
}

dd .credits {
    width: 100px;
}

.gameOver {
}

    .gameOver h2 {
        font-size: 40px;
        text-align: center;
        color: red;
        font-weight: bold;
    }

.planetLabel {
    font-size: 10px;
    fill: white;
}